.export
  .export_fixed
    %input{:type => 'button', :value => 'export', :onclick => 'export_results()'}
%table{:id => 'res_table', :class => 'tablesorter'}
  %thead
    %th table
    %th= @gold_server
    %th= @server.name
    %th diff
    %th refresh
  %tbody
    - @counts.each do |count|
      %tr{:class => "#{count.diff == 0 ? 'ok' : 'err'}", :id => "row_#{count.tabid}"}
        %td= count.name.upcase
        %td{:id => "count1_#{count.tabid}", :title => "#{count.t1}"}= count.rc1.round
        %td{:id => "count2_#{count.tabid}", :title => "#{count.t2}"}= count.rc2.round
        %td{:id => "diff_#{count.tabid}"}= count.diff.round
        %td{:class => 'button_cell'}
          %input{:type => 'button', :value => 'refresh', :onclick => "refresh_counts(this, #{count.tabid}, #{@server.id})"}