%h1 Counts
%form{:action => '/counts', :method => 'POST'}
  .server_select
    %select{:name => 'server1'}
      - @servers.each do |server|
        %option{:value => "#{server.id}", :selected => @server1.nil? ? false : (@server1.id == server.id ? true : false)}= server.name.upcase
    %select{:name => 'server2'}
      - @servers.each do |server|
        %option{:value => "#{server.id}", :selected => @server2.nil? ? false : (@server2.id == server.id ? true : false)}= server.name.upcase
    %input{:type => 'submit', :value => 'compare'}
%br
- unless @counts.nil?
  %table
    %thead
      %th table
      %th= @server1.name
      %th= @server2.name
      %th diff
      %th refresh
    %tbody
      - @counts.each do |count|
        %tr{:class => "#{count.diff == 0 ? 'ok' : 'err'}", :id => "row_#{count.tabid}"}
          %td= count.name
          %td{:id => "count1_#{count.tabid}"}= count.rc1.round
          %td{:id => "count2_#{count.tabid}"}= count.rc2.round
          %td{:id => "diff_#{count.tabid}"}= count.diff.round
          %td{:class => 'button_cell'}
            %input{:type => 'button', :value => 'refresh', :onclick => "refresh_counts(this, #{count.tabid}, #{@server1.id}, #{@server2.id})"} 
