%h1 Counts
%form{:action => '/counts', :method => 'POST'}
  .server_select
    .gold_update 
      %b= "#{@gold_server.upcase} @"
      =@last
    %b Ingestion: 
    %select{:name => 'server', :id => 'server_select'}
      - @servers.each do |server|
        %option{:value => "#{server.id}", :selected => @server.nil? ? false : (@server.id == server.id ? true : false)}= server.name.upcase
    %b Feed ID:
    %select{:name => 'feed', :id => 'feed_select'}
      - @feeds.each do |feed|
        %option{:value => "#{feed.id}", :selected => @feed.nil? ? false : (@feed.id == feed.id ? true : false)}= feed.name.upcase
    %input{:type => 'button', :value => 'Run Now', :onclick => "run_counts(this)"}
    %input{:type => 'submit', :value => 'Get Last'}
    %br
    %br
    %img#loading{:src => 'loading.gif'}
    #results
      - unless @counts.nil?
        = haml :counts_partial
    
